style.css body {
    font-family: Arial, sans-serif;
}

header,
footer,
section,


h1 {
    color: red;
    border-top: solid green;
    background-color: yellowgreen;
}



h2 {
    color: blue;
    border-top: solid green;
}



p {
    color: greenyellow;
    border-top: solid green;
}


h1 {
    color: blue;
    font-style: italic;
}

header {
    color: blue;
    border-top: solid green;
}

footer {
    color: blue;
    border-top: solid darkblue;
}

header {
    background-color: violet;
    width: 100%;
}

nav {
    background-color: lightgreen;
    width: 100%;
}

footer {
    background-color: lightblue;
    width: 100%;
}

section {
    background-color: pink;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: rgb(133, 4, 4);
}

p {
    color: #36318d;
}
a:link { color:rgb(127, 3, 3); } /* unvisited link */
a:visited { color:#00FF00; } /* visited link */
a:hover { color:#FF00FF; } /* mouse over link */
a:active { color:#0000FF; }  /* selected link */
